*{
    font-family: monospace;
    margin:0;
    padding: 0;
    text-align: center;
    cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

.header-area {
    height: 6%;
  background: rgb(165, 207, 196);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0.1rem rgba(0, 0, 0, 0.2);
    color: white; 
    padding: 4px;
    cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

.message-area {
    height: 80%;
    padding: 3px;
    overflow: auto; 
    cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

.typing-area {
    margin-top: 450px;
    padding: 4px;
    height: 8%;
}

.typing-box{
    width: 90%;
    height: 100%;
    resize: none; 
    padding: 3px; 
    cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

.send-button{
  border: 0;
  width: 9%;
  background: rgb(165 207 196);
  color: black;
  padding: 8px
  font-size: 18px
  position: absolute;
  margin: 8px;
  cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

body{
    opacity:1;
    background-image:url(https://i.pinimg.com/736x/7b/dc/4f/7bdc4f4f53fe35c4417e1f91c0499c0f.jpg);
    background-size: cover;
cursor:url(http://www.fillster.com/myspace-cursors/35.cur), url(http://www.fillster.com/myspace-cursors/35.gif),pointer !important;
}

.message-box {
    margin-top: 10px;
}

.others-message-box {
}

.my-message-box {
    text-align: right;
    background-color:transparent;
}

.message {
    max-width:70%;
    border-radius: 5%;
    padding: 5px;
    box-shadow: 0 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

.my-message {
  float: right;
  background: rgb(165 207 196);
  color: white;
}

.others-message {
    float: left;
    background: white;
}

.separator {
    width: 100%;
    height: 8px;
    float: left;
}
